
*.dll
*.example
*.xml
*.prototxt
*.caffemodel
*.bat
*.sh
*.pyd
*.pth
*.pyc
*.npy
*.blend
*.txt
*.bvh
test_media/1.jpg
test_media/10.jpg
test_media/11.jpg
test_media/12.jpg
test_media/13.jpg
test_media/14.jpg
test_media/15.jpg
test_media/16.jpg
test_media/17.jpg
test_media/3.jpg
test_media/4.jpg
test_media/5.jpg
test_media/6.png
test_media/7.jpg
test_media/8.jpg
test_media/9.jpg
test_media/camera.png
test_media/COCO_val2014_000000000241.jpg
test_media/hands.jpg
test_media/icons8-yoga-48.png
test_media/left_hand.jpg
test_media/right_hand.jpg
test_media/window_icon.png
test_media/GUI.JPG
test_media/LOGO.PNG
